<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}KREAM | 한정판 거래의 FLEX{% endblock title %}</title>
  </head>
  <body>
    {% comment "" %}{% include 'header.html' %}{% endcomment %}
    {% include 'partials/header.html' %}
    {% block contents %}{% endblock contents %}
    {% include 'partials/footer.html' %}
    {% comment "" %}{% include 'footer.html' %}{% endcomment %}
  
  </body>
</html>